@import "tailwindcss";

/* Chrome, Edge, Safari */
.custom-scroll::-webkit-scrollbar {
  width: 4px; /* w-1 yoki w-2 effect */
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent; /* orqasi transparent */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 999px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.45);
}

/* Firefox */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(255,255,255,0.25) transparent;
}
